@use "../abstract/variables" as *;
#log-in{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
      .log-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-bottom: 0px;
   }
   h1{
    font-weight: 600;
    // color: black !important;
   }
 .registrate-link{
    color: $color-link;
 }
.log-in-container-parent{
    width: 40%;
    height: 500px;
    background-color: rgb(221, 221, 221);
   
     border-radius: 8px;
     overflow: hidden;
}
.btn-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.log-info-container{
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.devider{
    p{
        width: 350px;
        text-align: center;
        color: black;
        margin: 12px ;
        border-bottom: solid 1px black;
       
    }
}
.inputs{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    input{
        height: 50px;
       
       &::placeholder {
      color: rgb(93, 93, 93); 
    
    }
    }
    label{
        font-weight: 500;
        color: rgb(28, 28, 28);
    }
}
.email{
 padding: 8px;
   border-radius: 8px;
   border: solid 1px rgb(81, 81, 81);
}
.password{
 border-radius: 8px;
 padding: 8px;
 border: solid 1px rgb(81, 81, 81);
}
.contrasena-link{
    color:$color-link;
    }
    a{
        margin-bottom: 12px;
    }

}