@use "../abstract/variables" as *;
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  
}
body{
      background-color: $color-base;
}
a{
    text-decoration: none !important;
    list-style: none;
    
}