h1{ 
    font-family: "poppins";   font-weight: 400;  font-size: 1.5rem; color: $color-text;
}
h2{ 
    font-family: "poppins";   font-weight: 400;  font-size: 1.2rem; color: $color-text;
}
h3{ 
    font-family: "poppins";   font-weight: 400;  font-size: 0.8rem; color: $color-link;
}
p{
    font-family: "poppins"; font-weight: 500; font-size :3rem; color: red
}